.card-container{
  display: flex;
  justify-content: center;
}

.book-card{
  border: 2px solid grey;
  margin: 0 1rem;
  width: 15rem;
  position: relative;
}

.book-card img{
  height: 15rem;
  width: 15rem;
  object-fit: cover;
}

.icon{
  height: 2rem;
  width: 2rem;
  display: inline-block;
  background: lawngreen;
  border-radius: 50%;
  position: relative;
  top: -1rem;
  left: 7rem;
  cursor: pointer;
}

.down-arrow{
  position: absolute;
  top: 7px;
  right: 8px;
}

button{
  padding: 0.5rem;
  width: 10rem;
  font-size: inherit;
  border: none;
  cursor: pointer;
  background: #000;
  color: #fff;
  border-radius: 7px;
}

.dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: grey;
    color: white;
    width: 7rem;
    font-size: small;
    line-height: 1.5;
    left: 7rem;
    top: 15rem;
    border-radius: 7px;
}

.dropdown p{
  margin: 0;
}
.dropdown span:hover{
  background:lightblue;
  color: white;
  cursor: pointer;
}