.card-container{
  display: flex;
  justify-content: center;
}

.book-card{
  border: 2px solid grey;
  margin: 0 1rem;
  width: 15rem;
}

.book-card img{
  height: 15rem;
  width: 15rem;
  object-fit: cover;
}

.icon{
  height: 2rem;
  width: 2rem;
  display: inline-block;
  background: lawngreen;
  border-radius: 50%;
  position: relative;
  top: -1rem;
  left: 7rem;
}

.down-arrow{
  position: absolute;
  top: 7px;
  right: 8px;
}

